# PORT SERVER
PORT_SERVER=1111

# LDAP CREDENTIALS
URL=ldap://IP
USERROOT=admin@devdom.com
PASSWORD=Password
ADSUFFIX=DC=devdom,DC=com

# GROUP OF ADMINISTRATORS
GROUP_ADMINS=Administrators

# OU TO ADD GROUPS
OU_GROUPS=OU=groups,OU=devdom

# YPSERVER
YP_SERVER=CN=devdom,CN=ypservers,DC=devdom,DC=com

# NIS_DOMAIN
NIS_DOMAIN=devdom

# DOMAIN
DOMAIN=@devdom.com