# PORT SERVER
PORT_SERVER=1111

# LDAP CREDENTIALS
URL=ldap://IP
USERROOT=admin@devdom.com
PASSWORD=Password
ADSUFFIX=DC=devdom,DC=com

# GROUP OF ADMINISTRATORS
GROUP_ADMINS=Administrators

# OU TO ADD GROUPS
OU_GROUPS=OU=GRUPOS,OU=CAMPUS

# DOMINIO
DOMAIN=@devdom.com